/* 
   ___  ____ ____   ____   ____  ___ ___    ___  _____        
  /  _]|    \    | /    | /    ||   |   |  /  _]/ ___/        
 /  [_ |  o  )  | |   __||  o  || _   _ | /  [_(   \_         
|    _]|   _/|  | |  |  ||     ||  \_/  ||    _]\__  |        
|   [_ |  |  |  | |  |_ ||  _  ||   |   ||   [_ /  \ |        
|     ||  |  |  | |     ||  |  ||   |   ||     |\    |        
|_____||__| |____||___,_||__|__||___|___||_____| \___|        
                                                              
   ___  ____ ____   __  _      ____   __  __  _    ___  ____  
  /  _]|    \    | /  ]| |    |    | /  ]|  |/ ]  /  _]|    \ 
 /  [_ |  o  )  | /  / | |     |  | /  / |  ' /  /  [_ |  D  )
|    _]|   _/|  |/  /  | |___  |  |/  /  |    \ |    _]|    / 
|   [_ |  |  |  /   \_ |     | |  /   \_ |     \|   [_ |    \ 
|     ||  |  |  \     ||     | |  \     ||  .  ||     ||  .  \
|_____||__| |____\____||_____||____\____||__|\_||_____||__|\_|

*/

.stat-container {
    display: flex;
    /* Next line */
    flex-wrap: wrap;
    /* Center elements */
    justify-content: center;
    /* Space between cases */
    gap: 10px;
    margin-top: 10px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #d53633;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;

    /* Ensure text wraps inside the box */
    word-wrap: break-word;
    /* For older browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /* Allows text to wrap to the next line */

    /* Ensure content is clipped within the box */
    overflow: hidden;

    animation: slideIn 0.5s ease-out forwards;
    opacity: 0;
    transition: transform 0.1s, box-shadow 0.2s;
}

.stat-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.stat-box.green {
    /* Green Background */
    background-color: #3da75e;
}

.stat-box.yellow {
    /* Yellow Background */
    background-color: rgba(217, 200, 39, .6980392156862745);
}

.stat-box[style*="background-image"] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}