#cards-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    padding-bottom: 50px;
}

.card {
    width: 150px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f8f8f8;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.full-screen-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border: 5px solid white;
}

.card-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-img:hover {
    transform: scale(1.05);
}